    <footer>
        <div class="f-container">
            <div class="f-list">
                <ul>
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="/jobs">Browse Jobs</a></li>
                    <li><a href="/employers/employers.html">Employers</a></li>
                    <li><a href="/post-job">Post a Job</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="f-list">
                <ul>
                    <li><a href="/jobs/it">IT & Software</a></li>
                    <li><a href="/jobs/marketing">Marketing</a></li>
                    <li><a href="/jobs/finance">Finance</a></li>
                    <li><a href="/jobs/remote">Remote Jobs</a></li>
                </ul>
            </div>
            <div class="f-list">
                <p>Email: support@naukariway.com</p>
                <p>Phone: +92-XXX-XXXXXXX</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank"><img class="social-icons"
                            src="/assists/icons/social-icons/facebook.png" alt="facebook"></a>
                    <a href="https://www.linkedin.com" target="_blank"><img class="social-icons"
                            src="/assists/icons/social-icons/linkedin.png" alt="linkedin"></a>
                    <a href="https://www.github.com" target="_blank"><img class="social-icons"
                            src="/assists/icons/social-icons/github.png" alt="github"></a>
                </div>
            </div>
        </div>
        <div class="documentation">
            <p>Copyright ©2025 NaukariWay All Rights Reserved</p>
            <ul class="doc-list">
                <li><a href="/terms.html">Terms of Service</a></li>|
                <li><a href="/privacy.html">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>